@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body{
     background-color: #1a1a1a;
     color: #fff;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: #333;
    padding: 30px 0px;
    position: fixed;
}

.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #555;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
    color: #bbb;
    display: block;
}

.wrapper .sidebar ul li a .fas{
    width: 25px;
}

.wrapper .sidebar ul li:hover{
    background-color: #555;
}
        
.wrapper .sidebar ul li:hover a{
    color: #fff;
}
 
.wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .sidebar .social_media a{
    display: block;
    width: 40px;
    background: #555;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bbb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
    position: relative; /* Add this line */
    height: 100vh;
}

.wrapper .main_content .header{
    padding: 20px;
    background: #222;
    color: #ccc;
    border-bottom: 1px solid #444;
}

.wrapper .main_content .info {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    height: calc(100vh - 40px); /* Adjust height to fill the viewport minus padding/margins */
}

.wrapper .main_content .info div{
    margin-bottom: 20px;
}

.sidebar-hidden {
    display: none;
}

.welcome-container {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center items */
    height: 100%; /* Ensure it takes the full height of the parent container */
    text-align: center; /* Center text alignment */
    gap: 10px; /* Add spacing between the image and the text */
}

.welcome-container img {
    width: 50px; /* Set the size of the square container */
    height: 50px; /* Maintain a square aspect ratio */
    border-radius: 10%; /* Optional: Slightly rounded corners */
    object-fit: cover; /* Ensure the image fits within the square */
}

.welcome-message {
    font-size: 3em; /* Adjust font size as needed */
    color: white;
    margin: 0; /* Remove default margin */
}