:root {
    --primary-color: #007BFF;
    --secondary-color: #333;
    --background-color: #f5f5f5;
    --text-color: #666;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
}

#left-content {
    grid-column: 1;
}

#ideas {
    grid-column: 2;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
}

#right-content {
    grid-column: 3;
}

#ideas h2 {
    color: var(--secondary-color);
    font-size: 2em;
}

#ideas p {
    color: var(--text-color);
    font-size: 1.2em;
    line-height: 1.5;
}

#ideas ul {
    list-style: none;
    padding: 0;
}

#ideas ul li {
    margin-bottom: 10px;
}

#ideas ul li a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

#ideas ul li a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

@media (max-width: 600px) {
    body {
        display: block;
    }

    #ideas {
        padding: 10px;
    }

    #ideas h2 {
        font-size: 1.5em;
    }

    #ideas p {
        font-size: 1em;
    }
}

.profile-picture {
    border-radius: 50%;
    overflow: hidden;
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    object-fit: cover;
}

#bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left-content {
    grid-column: 1;
    background-color: #e6e6e6; /* Light gray background */
    padding: 20px;
    border-radius: 10px;
}

#right-content {
    grid-column: 3;
    background-color: #e6e6e6; /* Light gray background */
    padding: 20px;
    border-radius: 10px;
}